header { grid-area: header; }
nav { grid-area: menu; }
article { grid-area: main; }
aside { grid-area: info; }
footer { grid-area: footer; }

@media screen and (min-width: 480px){
    body {
        display: grid;
        grid-template-areas:
        'header header header header header header'
        'menu menu menu menu menu menu'
        'main main main main main info'
        'footer footer footer footer footer footer';
        grid-gap: 10px;
        background-image: url("img/tausta.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        padding: 10px;
    }

    header, nav, article, aside{
        text-align: center;
        font-family: 'Courier New', Courier, monospace;
    }

    footer{
        text-align: center;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    .navbar{
        display: flex;
        list-style-type: none;
        justify-content: center;
    }

    .navbutton{
        display:inline-block;
        padding: 0.5em;
        border: 0.1em solid lightslategray;
        border-radius: 0.5em;
        background-color: lightgrey;
        margin: 0.2em;
        text-decoration: none;
    }

    header, aside, article, footer {
        background-color: rgba(255, 255, 255, 0.65);    
    }

    header, article, section, aside, footer{
        border: 0.1em solid lightslategray;
        border-radius: 0.7em;
    }
}

@media screen and (min-width: 320px) and (max-width: 480px){
    body{
    display: flex;
    flex-direction: column;
    background-color:lightslategray;
    padding: 0.5em;
    font-size: 0.85em;
    }

    header, article, section, aside, footer{
        border: 0.2em solid black;
        border-radius: 0.7em;
        margin: 0.5em;
    }

        header, nav, article, aside{
        text-align: center;
        font-family: 'Courier New', Courier, monospace;
    }

    footer{
        text-align: center;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    .navbar{
        display: flex;
        list-style-type: none;
        justify-content: center;
    }

    .navbutton{
        display:inline-block;
        padding: 0.5em;
        border: 0.1em solid black;
        border-radius: 0.5em;
        background-color: lightgrey;
        margin: 0.2em;
        text-decoration: none;
    }

    header, aside, article, footer {
        background-color: lightgrey;
    }

}

    @media screen and (max-width: 320px){
    body {
        width: 320px;
    }
}